<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TL-Test Page</title>
    <link rel="stylesheet" type="text/css" href="styles/index.css">
</head>

<body>
    <nav>
        <div id="navbar">
          <div id="nav-title">
              <h1><a href="/">TripleLift Test Page</a></h1>
          </div>
          <div id="nav-items">
              <ul id="nav-list">
                <li>Stuff</li>
                <li>Other Stuff</li>
                <li>More Stuff</li>
              </ul>
          </div>
        </div>
    </nav>
    <main>
      <div id="ad_leaderboard">
          <div id="leaderboard_container">728x90</div>
      </div>
      <div id="content">
        <div id="main-col">
          <div id="main-story">
              <img id="main-img" src="https://images.unsplash.com/photo-1545277658-7e284bf1585a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80">
              <div id="main-heading">
                  <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
              </div>
              <div id="main-caption">
                  <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
              </div>
              <div id="main-by">
                <p>Author</p>
              </div>
          </div>
          <div id="latest">
            <div id="latest-sep"></div>
            <p>Latest</p>
          </div>
          <div id="latest-container">
            <div id="latest-story">
              <div id="latest-img">
                <img src="https://images.unsplash.com/photo-1550571969-92381c4a96d1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80">
              </div>
              <div id="latest-content">
                <div id="latest-heading">
                  <p>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</p>
                </div>
                <div id="latest-caption">
                  <p>Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.</p>
                </div>
                <div id="latest-by">
                  <p>Author</p>
                </div>
              </div>
            </div>
            <div id="latest-story">
              <div id="latest-img">
                <img src="https://images.unsplash.com/photo-1550571969-92381c4a96d1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80">
              </div>
              <div id="latest-content">
                <div id="latest-heading">
                  <p>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</p>
                </div>
                <div id="latest-caption">
                  <p>Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.</p>
                </div>
                <div id="latest-by">
                  <p>Author</p>
                </div>
              </div>
            </div>
            <div id="latest-story">
              <div id="latest-img">
                <img src="https://images.unsplash.com/photo-1550571969-92381c4a96d1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80">
              </div>
              <div id="latest-content">
                <div id="latest-heading">
                  <p>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</p>
                </div>
                <div id="latest-caption">
                  <p>Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.</p>
                </div>
                <div id="latest-by">
                  <p>Author</p>
                </div>
              </div>
            </div>
            <div id="ad_infeed">
                    <div id="infeed_container">728x90</div>
                </div>
            <div id="latest-story">
              <div id="latest-img">
                <img src="https://images.unsplash.com/photo-1550571969-92381c4a96d1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80">
              </div>
              <div id="latest-content">
                <div id="latest-heading">
                  <p>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</p>
                </div>
                <div id="latest-caption">
                  <p>Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.</p>
                </div>
                <div id="latest-by">
                  <p>Author</p>
                </div>
              </div>
            </div>
            <div id="latest-story">
                <div id="latest-img">
                  <img src="https://images.unsplash.com/photo-1550571969-92381c4a96d1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80">
                </div>
                <div id="latest-content">
                  <div id="latest-heading">
                    <p>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</p>
                  </div>
                  <div id="latest-caption">
                    <p>Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.</p>
                  </div>
                  <div id="latest-by">
                    <p>Author</p>
                  </div>
                </div>
              </div>
              <div id="latest-story">
                <div id="latest-img">
                  <img src="https://images.unsplash.com/photo-1550571969-92381c4a96d1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80">
                </div>
                <div id="latest-content">
                  <div id="latest-heading">
                    <p>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</p>
                  </div>
                  <div id="latest-caption">
                    <p>Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.</p>
                  </div>
                  <div id="latest-by">
                    <p>Author</p>
                  </div>
                </div>
              </div>
              <div id="latest-story">
                  <div id="latest-img">
                    <img src="https://images.unsplash.com/photo-1550571969-92381c4a96d1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80">
                  </div>
                  <div id="latest-content">
                    <div id="latest-heading">
                      <p>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</p>
                    </div>
                    <div id="latest-caption">
                      <p>Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.</p>
                    </div>
                    <div id="latest-by">
                      <p>Author</p>
                    </div>
                  </div>
                </div>
                <div id="latest-story">
                  <div id="latest-img">
                    <img src="https://images.unsplash.com/photo-1550571969-92381c4a96d1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80">
                  </div>
                  <div id="latest-content">
                    <div id="latest-heading">
                      <p>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</p>
                    </div>
                    <div id="latest-caption">
                      <p>Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.</p>
                    </div>
                    <div id="latest-by">
                      <p>Author</p>
                    </div>
                  </div>
                </div>
          </div>
        </div>    
        <div id="rail">
          <div id="ad_rail">
              <div id="rail_container">300x600</div>
          </div>
        </div>
      </div>
      <div id="ad_footer">
          <div id="footer_container">728x90</div>
      </div>
    </main>
    <footer>
      <div id="footer">
        <h1>Footer</h1>
      </div>
    </footer>
</body>

</html>